@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'ProximaNova';
  @apply text-neutral-900;
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  src: url('../public/fonts/ProximaNova-Light.woff');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url('../public/fonts/ProximaNova-Regular.woff');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 500;
  src: url('../public/fonts/ProximaNova-Semibold.woff');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url('../public/fonts/ProximaNova-Bold.woff');
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 800;
  src: url('../public/fonts/ProximaNova-Extrabold.woff');
}
